In [266]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [267]:
fieldOfStudy= pd.read_csv("Most-Recent-Cohorts-Field-of-Study.csv")

In [268]:
def filter_out_value(df, columns, value="PS"):
    for col in columns:
        df = df [df[col] != value]
    return df

In [269]:
filtered_df_earnings = filter_out_value(fieldOfStudy, ["EARN_MDN_5YR"])
filtered_df_earnings_male = filter_out_value(fieldOfStudy, ['EARN_MALE_WNE_MDN_5YR']) 
filtered_df_earnings_non_male = filter_out_value(fieldOfStudy, ['EARN_NOMALE_WNE_MDN_5YR']) 
filtered_df_earnings_generic_male_non_male = filter_out_value(fieldOfStudy, ['EARN_NOMALE_WNE_MDN_5YR','EARN_MALE_WNE_MDN_5YR',"EARN_MDN_5YR"])

In [270]:
filtered_df_earnings.to_csv("filtered_df_earnings.csv")
filtered_df_earnings_male.to_csv("filtered_df_earnings_male.csv")
filtered_df_earnings_non_male.to_csv("filtered_df_earnings_non_male.csv")
filtered_df_earnings_generic_male_non_male.to_csv("filtered_df_earnings_generic_male_non_male.csv")

In [271]:
columnstokeep = ['INSTNM','CONTROL','CIPDESC','CREDDESC','EARN_MDN_5YR','EARN_MALE_WNE_MDN_5YR','EARN_NOMALE_WNE_MDN_5YR']
filtered_times_2_df_earnings_generic_male_non_male = filtered_df_earnings_generic_male_non_male[columnstokeep]

In [272]:
filtered_times_2_df_earnings_generic_male_non_male = filtered_times_2_df_earnings_generic_male_non_male.rename(columns={'INSTNM':'College',
                                            'CONTROL':'Funding Status',
                                            'CIPDESC':'Field Of Study',
                                            'CREDDESC':'Degree',
                                            'EARN_MDN_5YR':'5 Year Earnings',
                                            'EARN_MALE_WNE_MDN_5YR':'5 Year Earnings for Males',
                                            'EARN_NOMALE_WNE_MDN_5YR':'5 Year Earnings for Non-Males'})

In [273]:
filtered_times_2_df_earnings_generic_male_non_male=filtered_times_2_df_earnings_generic_male_non_male.reset_index(drop=True)

In [274]:
filtered_times_2_df_earnings_generic_male_non_male.to_csv('filtered_times_2_df_earnings_generic_male_non_male.csv')

In [275]:
def dashfunction (value):
    if ' - ' not in value:
        value = value.split('-')[0]
    return(value)

In [281]:
final_df_earnings_generic_male_non_male = filtered_times_2_df_earnings_generic_male_non_male
#final_df_earnings_generic_male_non_male['College'] = final_df_earnings_generic_male_non_male['College'].apply(dashfunction)
#final_df_earnings_generic_male_non_male.groupby('College', as_index=False)

In [282]:
final_df_earnings_generic_male_non_male['5 Year Earnings']=final_df_earnings_generic_male_non_male['5 Year Earnings'].astype(int)
final_df_earnings_generic_male_non_male['5 Year Earnings for Males']=final_df_earnings_generic_male_non_male['5 Year Earnings for Males'].astype(int)
final_df_earnings_generic_male_non_male['5 Year Earnings for Non-Males']=final_df_earnings_generic_male_non_male['5 Year Earnings for Non-Males'].astype(int)

In [283]:
final_df_earnings_generic_male_non_male_field_of_study_pivot_table =  pd.pivot_table(final_df_earnings_generic_male_non_male,index=['Field Of Study'],values=['5 Year Earnings','5 Year Earnings for Males','5 Year Earnings for Non-Males'],aggfunc='mean').round(1)
final_df_earnings_generic_male_non_male_college_pivot_table =  pd.pivot_table(final_df_earnings_generic_male_non_male,index=['College'],values=['5 Year Earnings','5 Year Earnings for Males','5 Year Earnings for Non-Males'],aggfunc='mean').round(1)

In [284]:
final_df_earnings_generic_male_non_male_field_of_study_pivot_table

,5 Year Earnings,5 Year Earnings for Males,5 Year Earnings for Non-Males
Field Of Study,,,
Accounting and Related Services.,75825.3,78338.1,73703.4
Advanced/Graduate Dentistry and Oral Sciences.,226712.2,260213.0,199214.2
"Aerospace, Aeronautical and Astronautical Engineering.",100364.7,98738.0,102052.8
Agricultural Business and Management.,68327.9,72276.7,61507.6
Agricultural Engineering.,89321.7,89274.7,91002.0
...,...,...,...
Veterinary/Animal Health Technologies/Technicians.,37302.8,37851.1,37156.2
"Visual and Performing Arts, General.",45258.3,45716.4,45309.8
"Visual and Performing Arts, Other.",53866.2,67340.2,47765.8
Wildlife and Wildlands Science and Management.,43571.2,46766.2,39831.2
Zoology/Animal Biology.,56108.2,60998.2,53708.9

In [280]:
final_df_earnings_generic_male_non_male_college_pivot_table

,5 Year Earnings,5 Year Earnings for Males,5 Year Earnings for Non-Males
College,,,
A - Technical College,26061.0,36794.0,24881.0
A T Still University of Health Sciences,134607.4,145785.4,131147.2
AI Miami International University of Art and Design,38762.1,41424.4,37744.1
ASA College,33693.7,35423.0,32418.0
Abington Memorial Hospital Dixon School of Nursing,87847.0,90774.0,87019.0
...,...,...,...
Yeshiva University,113941.3,106147.3,119155.3
York College of Pennsylvania,60793.5,74047.0,54412.0
York Technical College,41516.0,48729.0,38838.0
Youngstown State University,57562.8,66185.2,52241.3
Yuba College,44017.8,44972.8,45153.5

In [ ]:
fieldofstudybottom20earnings = final_df_earnings_generic_male_non_male_field_of_study_pivot_table.sort_values(by='5 Year Earnings', axis=0, ascending=True).head(20)
fieldofstudybottom20earnings

,5 Year Earnings,5 Year Earnings for Males,5 Year Earnings for Non-Males
Field Of Study,,,
Cosmetology and Related Personal Grooming Services.,21067.8,22873.7,20882.6
Agriculture/Veterinary Preparatory Programs.,21333.0,20373.0,21595.0
Basic Skills and Developmental/Remedial Education.,23707.3,34462.7,20884.7
"Personal and Culinary Services, Other.",24047.0,26655.0,23280.0
Somatic Bodywork and Related Therapeutic Services.,24334.4,28935.8,22969.6
Health-Related Knowledge and Skills.,24454.0,26915.0,23643.0
Movement and Mind-Body Therapies and Education.,25811.0,17897.0,27257.0
Dance.,28494.0,30221.0,27364.0
Carpenters.,29993.0,23673.0,43756.0
Communications Technology/Technician.,30205.0,36427.5,24136.0
Dental Support Services and Allied Professions.,30457.1,35927.1,29874.2
Teaching Assistants/Aides.,30645.0,49935.0,30139.0
Culinary Arts and Related Services.,31612.7,33937.7,29453.5
Health Aides/Attendants/Orderlies.,32019.0,36199.5,31503.5
Business Operations Support and Assistant Services.,32103.9,36840.3,30416.3
Missions/Missionary Studies and Missiology.,32879.0,38848.0,25549.0
Audiovisual Communications Technologies/Technicians.,33518.0,35488.2,31421.5
Drama/Theatre Arts and Stagecraft.,34234.4,34197.2,34451.4
Alternative and Complementary Medicine and Medical Systems.,34768.3,44258.3,31566.7
Allied Health and Medical Assisting Services.,34774.1,39413.5,33823.9

In [ ]:
fieldofstudytop20yearearnings = final_df_earnings_generic_male_non_male_field_of_study_pivot_table.sort_values(by='5 Year Earnings', axis=0, ascending=False).head(20)
fieldofstudytop20yearearnings

,5 Year Earnings,5 Year Earnings for Males,5 Year Earnings for Non-Males
Field Of Study,,,
Advanced/Graduate Dentistry and Oral Sciences.,226712.2,260213.0,199214.2
Medicine.,164162.6,162328.1,165626.8
Dentistry.,158790.1,170877.4,148354.7
Operations Research.,151071.0,139491.0,166876.0
Systems Engineering.,148980.8,151642.4,143988.8
Computer Science.,143629.8,142952.6,140674.6
Medical Clinical Sciences/Graduate Medical Studies.,140546.0,151155.0,121246.0
"Pharmacy, Pharmaceutical Sciences, and Administration.",139183.5,144650.5,136674.9
Real Estate.,132057.3,139047.7,122787.7
Computer Engineering.,130078.3,129672.0,137098.7
"Mathematics and Statistics, Other.",130029.0,145915.0,123108.0
Veterinary Biomedical and Clinical Sciences.,128817.0,139589.0,123994.0
Human Computer Interaction.,125108.0,133018.0,121304.0
Optometry.,120928.9,134834.9,114576.5
Veterinary Medicine.,120229.8,131735.7,116859.8
"Electrical, Electronics and Communications Engineering.",120145.8,118989.9,125310.0
Taxation.,117408.7,119529.3,118917.2
"Engineering, General.",113744.0,117640.5,106007.5
"Legal Professions and Studies, Other.",111168.5,111878.9,112318.8
Bioethics/Medical Ethics.,110140.0,138747.0,108000.0

In [ ]:
count_data = filtered_times_2_df_earnings_generic_male_non_male['Field Of Study'].value_counts().reset_index()

                                        Field Of Study  count
0    Business Administration, Management and Operat...   1687
1    Liberal Arts and Sciences, General Studies and...    947
2                    Criminal Justice and Corrections.    777
3                     Accounting and Related Services.    690
4    Registered Nursing, Nursing Administration, Nu...    681
..                                                 ...    ...
261           Energy Systems Technologies/Technicians.      1
262                 Mathematics and Statistics, Other.      1
263              Atmospheric Sciences and Meteorology.      1
264                                             Dance.      1
265               Health-Related Knowledge and Skills.      1

[266 rows x 2 columns]

In [294]:
top20countfieldofstudy = count_data.head(20)
top20countfieldofstudy

                                       Field Of Study  count
0   Business Administration, Management and Operat...   1687
1   Liberal Arts and Sciences, General Studies and...    947
2                   Criminal Justice and Corrections.    777
3                    Accounting and Related Services.    690
4   Registered Nursing, Nursing Administration, Nu...    681
5       Allied Health and Medical Assisting Services.    547
6                                Psychology, General.    414
7                                   Biology, General.    378
8   Allied Health Diagnostic, Intervention, and Tr...    368
9                    Communication and Media Studies.    353
10                                         Marketing.    319
11                        Business/Commerce, General.    317
12             Health and Physical Education/Fitness.    312
13        Health and Medical Administrative Services.    303
14  Cosmetology and Related Personal Grooming Serv...    263
15                  Political Science and Government.    247
16  Teacher Education and Professional Development...    214
17                                               Law.    210
18  Teacher Education and Professional Development...    199
19         Finance and Financial Management Services.    198

In [304]:
bottom20countfieldofstudy = count_data.tail(40)
bottom20countfieldofstudy

                                        Field Of Study  count
226           Theology and Religious Vocations, Other.      2
227         Natural Resources and Conservation, Other.      1
228  Family and Consumer Sciences/Human Sciences Bu...      1
229  Mechanical Engineering Related Technologies/Te...      1
230  Applied Horticulture and Horticultural Busines...      1
231             Construction Engineering Technologies.      1
232     Communication Disorders Sciences and Services.      1
233                    Mining and Mineral Engineering.      1
234           Radiology Residency/Fellowship Programs.      1
235    Movement and Mind-Body Therapies and Education.      1
236                         Teaching Assistants/Aides.      1
237                                   Fire Protection.      1
238       Veterinary Biomedical and Clinical Sciences.      1
239                                   Marine Sciences.      1
240                                   Data Processing.      1
241  Foreign Languages, Literatures, and Linguistic...      1
242       Agriculture/Veterinary Preparatory Programs.      1
243  Educational Assessment, Evaluation, and Research.      1
244                        Human Computer Interaction.      1
245                              Apparel and Textiles.      1
246                               Operations Research.      1
247             Personal and Culinary Services, Other.      1
248  Parks, Recreation, Leisure, and Fitness Studie...      1
249  Communications Technologies/Technicians and Su...      1
250            High School/Secondary Diploma Programs.      1
251                              Materials Engineering      1
252  Germanic Languages, Literatures, and Linguistics.      1
253                                        Carpenters.      1
254                               Engineering Science.      1
255                        Sociology and Anthropology.      1
256                           Biochemical Engineering.      1
257  Intelligence, Command Control and Information ...      1
258        Missions/Missionary Studies and Missiology.      1
259                Geological/Geophysical Engineering.      1
260                  Textile Sciences and Engineering.      1
261           Energy Systems Technologies/Technicians.      1
262                 Mathematics and Statistics, Other.      1
263              Atmospheric Sciences and Meteorology.      1
264                                             Dance.      1
265               Health-Related Knowledge and Skills.      1

In [297]:
count_data_funding_status = filtered_times_2_df_earnings_generic_male_non_male['Funding Status'].value_counts().reset_index()
count_data_funding_status

        Funding Status  count
0               Public   9072
1   Private, nonprofit   3819
2  Private, for-profit   3290
3              Foreign     11

In [317]:
groupbyfundingstatus = filtered_times_2_df_earnings_generic_male_non_male.groupby('Funding Status')['5 Year Earnings'].mean().round()
groupbyfundingstatus

Funding Status
Foreign                138419.0
Private, for-profit     47416.0
Private, nonprofit      78586.0
Public                  65207.0
Name: 5 Year Earnings, dtype: float64

In [320]:
filtered_times_2_df_earnings_generic_male_non_male.groupby('College')